@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
}

a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

body {

    header {
        background: #AEFE71;

        .menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-decoration: none;
            position: sticky;
            top: 0;

            li {
                margin: 5 5 5 5;
                padding: 5 5 5 5;
                margin-bottom: 3px;
                list-style-type: none;
                color: #01140D;
                transition: all 0.1s ease-in-out;
                border-bottom: 3px solid #00000000;
                text-decoration: none;

                &:hover {
                    border-bottom: 3px solid #01140D;
                }
            }
        }
    }

    main {
        display: flex;
        flex-direction: row;
        background-color: #AEFE71;

        aside {
            flex-grow: 1;
            height: 300px;
            background-color: #04724D;
            margin: 5 5 5 5;
            border-radius: 5px;
        }

        article {
            margin: 5 5 5 5;
            flex-grow: 4;
            height: 300px;
            background-color: #b0fce3;
            border-radius: 5px;    
        }
    }
    
    .center {
        justify-content: center;
        align-items: center;
    }

    .splide {
        width: 100%
    }

    .bold {
        font-family: 'Montserrat', sans-serif;
    }

    .splide__slide {
        width: 100%;
        height: 600px;

        .forest {
            background-image: url("/assets/forest.png");
            width: 100%;
            height: 100%;

            .text-wrapper {
                padding-left: 80px;
                padding-top: 30px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                width: 600px;
                p {
                    padding-top: 50px;
                }
            }

            .leaf {
                display: absolute;

                &1 {
                    opacity: 0;
                }
                &2 {
                    opacity: 0;
                }
                &3 {
                    opacity: 0;
                }
            }
        }
    }
}