@import 'variables';

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

body {
    width: 100%;
    
    header {
        background: $bg-color;

        .menu {
            display: none;
        }
    }

    main {
        // display: flex;
        // flex-direction: row;
        background-color: $bg-color;

        article {
            margin: 5;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h1 {
                font-size: 2em;
                display: flex;
                margin: 10 0;
            }

            .nav {
                display: flex;
                justify-content: center;
                flex-direction: column;

                p {
                    margin-top: 100px;
                }

                div {
                    height: 250px;
                    margin: 10;
                    background-color: #00c97f;
                    border-radius: 5px;
                }

                &-card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    text-align: center;

                    span {
                        color: black;
                    }

                    p {
                        font-family: "Montserrat", sans-serif;
                        font-size: 30px;
                        z-index: 99;
                        position: absolute;
                    }
                }
            }
        }   
    }

    .center {
        justify-content: center;
        align-items: center;
    }

    .splide {
        width: 100%;
    }

    .bold {
        font-family: "Montserrat", sans-serif;
    }

    .material-icons {
        font-size: 90px;
        width: 100px;
        height: 100px;
        color: #008F5A;
    }

    .text-wrapper {
        padding-left: 20px;
        padding-top: 30px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        height: 100%;
        width: 90%;
        color: white;

        p {
            padding-top: 50px;
            font-size: 20px;
        }
    }

    .splide__slide {
        height: 600px;

        .forest {
            background-image: url("https://i.pinimg.com/originals/29/0b/a0/290ba0313cfaffa60b10362dcb3c2505.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            .leaf {
                display: none;
            }
        }

        .water {
            background-image: url("https://nomad.pictures/wp-content/uploads/2016/03/beach-with-driftwood-1024x768.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
        }

        .air {
            background-image: url("https://i.pinimg.com/originals/14/ff/5a/14ff5a23635a4e40c6d00d5e3d0043b6.png");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
        }
    }
}

footer {
    background: #202030;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .social {
        width: 50px;
        height: 50px;
        padding: 25;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    h1 {
        margin-bottom: 30px;
    }
    span {
        display: flex;
        justify-content: center;
    }

    .material-icons {
        font-size: 50px;
        width: auto;
        height: auto;
        color: black;
        margin-right: 10px;
    }

    .contacts-info {
        font-size: 30px;
    }
}
