@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
}

a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

body {

    header {
        background: #AEFE71;

        .menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-decoration: none;
            position: sticky;
            top: 0;

            li {
                margin: 5 5 5 5;
                padding: 5 5 5 5;
                margin-bottom: 3px;
                list-style-type: none;
                color: #01140D;
                transition: all 0.1s ease-in-out;
                border-bottom: 3px solid #00000000;
                text-decoration: none;

                &:hover {
                    border-bottom: 3px solid #01140D;
                }
            }
        }
    }
}